/* General layout */
.box {
    border: 1px solid black;
    width: 25%;
}

.palette-wrapper {
    max-width: 80%;
    display: flex;
    height: 600px;
    margin-inline: auto;
}

/* Library */

.library .palette-wrapper {
    display: flex;
    flex-direction: column;
} 

.library .box {
    width: 100%;
    height: 200px;
}

@media (min-width: 50em) {
    .library .palette-wrapper {
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto);
    }

    .library .palette-title {
        grid-column: span 5;
    }

    .library .box {
        height: 300px;
    }
}
